@import url('https://fonts.googleapis.com/css?family=Mina');
body {
  margin: 0;
  padding: 0;
  font-family: 'Mina', sans-serif;
  background: linear-gradient(to right, rgb(73, 62, 157), rgb(125, 80, 233));
}

button {
  cursor: pointer;
}
